
<app-header></app-header>
    
   <br> 
<h2 style="text-align: center;  ">Pay your Electricity Bill</h2>>

<div class="wrapper">

<table>
    <tr>
      <td>1.</td>
      <td><b ><a href="#" style=" font-size: 15px;">Paperless biiling of smart meter connections</a></b> </td>
      <td></td>
      
    </tr>
    <tr>
      <td>2.</td>
      <td><a href="#">All customers Pay Bill EPL</a></td>
      <td><img src="assets/bill.png"  alt="" style="height: 60px; width: 100px; cursor:pointer; background-color: transparent "></td>
      
    </tr>
    <tr>
      <td>3.</td>
      <td><a href="#">Pay your bill through PAYTM </a></td>
      <td><img src="assets/Paytm.png"  alt="" style="height: 60px; width: 100px; cursor:pointer; background-color: transparent "></td>
      
    </tr>
    <tr>
      <td>4.</td>
      <td><a href="#">Prepaid Recharge/Advance Payment</a></td>
      <td><img src="assets/payment.png"  alt="" style="height: 60px; width: 100px; cursor:pointer; background-color: transparent "></td>
      
    </tr>
    <tr>
      <td>5.</td>
      <td><a href="#">Know Your Bill History</a></td>
      <td><img src="assets/file.png"  alt="" style="height: 40px; width: 100px; cursor:pointer; background-color: transparent "></td>
      
    </tr>
    <tr>
      <td>6.</td>
      <td><a href="#">Download Your Bill Payment Receipt</a></td>
      <td><img src="assets/download.png"  alt="" style="height: 60px; width: 100px; cursor:pointer; background-color: transparent "></td>
      
    </tr>
    <tr>
      <td>7.</td>
      <td><a href="#">Pay your bill through NetBanking</a></td>
      <td><img src="assets/banking.png"  alt="" style="height: 80px; width: 100px; cursor:pointer; background-color: transparent "></td>
      
    </tr>
  </table>
  
  
  </div>