<app-header></app-header>

<br>
<h2 style="text-align: center; "><u>Achievements:</u></h2>
 <!-- <button type="button" (click)="downloadPdf()">Generate PDF</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container> -->

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
 <div class="col-md-12">


<br>
<table class="tab" style="align-items: center;">
  <tr>
 
    <td>1.All the power Stations operated at their best ever plant load factor since their installation </td>
    
    
  </tr>
  <tr>
  
    <td>2.Net Power generated during 2008-09 is 37222 Million units, which is more than 2006-07 by 2238 Million Units resulting of 6.40% increase in two years.</td>
   
    
  </tr>
  <tr>

    <td>3.The 1980 MW (3×660) Talwandi Sabo Power Project awarded to M/s Sterlite Energy Ltd. Mumbai on 4.7.08 and PPA signed on 1.9.08.</td>

    
  </tr>
  <tr>

    <td>4.Power purchase agreement with M/S GVK for installing 2×270 MW thermal power station at Goindwal Sahib signed on 26th May, 2009.The foundation stone has been laid and the company has started the construction</td>

    
  </tr>
  <tr>

    <td>5.Second stage of Lehra Mohabbat Thermal Power Station for 2×250 MW has been commissioned. Its Unit-III achieved CoD on 16.10.08 and Unit-IV synchronized on 2.8.08 on coal.</td>
   
    
  </tr>
  <tr>
   
    <td>6.4.76 lakh new connections including 61849 No. tubewell connections were released during 2007-09.</td>
    
    
  </tr>
  <tr>
   
    <td>7.24 Hrs. Urban pattern supply made available to 12428 villages and 6158 Deras/ Dhanies with 5 or more houses./td>

    
  </tr>

<tr>
  <td>8.To help SC & BPL consumers, free monthly consumption up to 200 units allowed for connected load of 1000 watts w.e.f. 12-10-06 instead of earlier 500 watts.</td>
</tr>

<tr>
  <td>9.New technologies like electronic meters, remote control of transformers, remote meter reading and HVDS system for AP/ Industries introduced.</td>
</tr>
</table>



</div> 