td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 4px;
  }

  .tab{
    margin-left: 120px;
  }

table {
  width: 70%;
}

// #pieChartCanvas {
//   width: 100%; /* Make the chart fill its container */
//   height: 400px;
//   border: 1px solid #ddd;
// }

// /* Style the chart container */
// .chart-container {
//   margin: 20px auto; /* Center the chart */
//   max-width: 600px;
// }