<app-header></app-header>

<br>

<h2 style="color: red; text-align:center;">Caution! Ignore Fake/Fraud SMS</h2>
<div class="wrapper">

<p>

    Do not respond to SMS / Calls / WhatsApp messages from unknown sources.</p>
    <br>

 <p>Electricity Power Limited does not ask you to contact any person </p>   
   <br> 
  <p> Electricity Power Limited sends SMS from the SENDER IDs like VM-EPL / VK-EPL / AM-EPL / JM-EPL etc. and not from any personal mobile number.</p>  
    <br>
   <p>(The first 2 letters in a sender ID indicates the operator & location from where the message is being sent and it ends with EPL.)</p> 
    <br>
   <p>Do not share your Mobile or Desktop Screens or OTP received to you, in any case while online payments.</p> 
 <br>   
 <p>A consumer can lodge a complaint / FIR to the nearest Cyber police station or register a complaint online at the National Cyber Crime Portal “https://cybercrime.gov.in”</p>   




</div>

   