

<br>
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/data.jpg" alt="Angular Carousel 1">
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/color.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../assets/rect.jpg" alt="Angular Carousel 2">
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
</ngb-carousel>

<div class="container">    
  
  <div class="row">
    <div class="col-xl-6">
		  <div class="row">
        <div class="col-xl-12 mt-4" >
          <img src="../../assets/pc.jpg" alt="Girl in a jacket" style="width:98%;height:250px;">

        </div>
        <div class="col-xl-12">
          
        
          
            <div class="row">
                <div class="col-xl-6 mt-4">
                    <img src="../../assets/new.jpg" class="img-responsive" style="width:98%" alt="Image">
                </div>
                <div class="col-xl-6 mt-4">
                    <img src="../../assets/new.jpg" class="img-responsive" style="width:98%;" alt="Image">
                </div>
              </div>
            
        </div>
      </div>
      
       </div>

       <div class="col-xl-6">
        <div class="image-grid">
          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 1">
          </div>

          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 2">
          </div>
          
          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 3">
          </div>

          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 4">
          </div>

          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 5">
          </div>

          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 6">
          </div>

          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 7">
          </div>

          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 8">
          </div>

          <div class="img-responsive">
            <img src="../../assets/new.jpg" alt="Image 9">
          </div>
        
        </div>


        
    </div>
    



    </div>
    </div>
    
    <footer class="container-fluid text-center">
      <p style="color: aliceblue;">Footer Text</p>
    </footer>