

<div class="wrapper">
  <div class="logo">
      <img src="../../assets/angular.png">
  </div>
  <div class="text-center mt-4 name">
      
  </div>
  <form class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="userName" id="userName" placeholder="Username">
      </div>
      <div class="form-field d-flex align-items-center">
        <span class="far fa-user"></span>
        <input type="text" name="email" id="email" placeholder="Email">
    </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="pwd" placeholder="Password">
      </div>
      <button class="btn mt-3">Sign up</button>
      <a href="#" role="button" button class="btn mt-3" >Back</a>

      
  </form>